<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- you can change this event name -->
    <event name="tutorial_save_observer">
        <observer name="tutorial_save_observer" instance="Namlv\Tutorial\Observer\SaveObserver" />
    </event>
</config>